::selection {
    background-color: rgb(62, 82, 49);
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./Images/Untitled design (3).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 50, 2, 0.74);
    width: 28em;
    margin-top: 3em;
    margin-bottom: 10em;
    box-shadow: 3px 4px 10px rgba(67, 46, 1, 0.83);
    border-radius: 1em;
}

h1 {
    color: white;
    margin-bottom: 1em;
    text-align: center;
}

.third-div {
    margin: 3em 3em;
}

input[type="text"] {
    width: 15em;
    height: 2.1em;
    font-size: 1em;
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    outline: none;
    border: none;
    color: rgb(31, 19, 0);
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: rgba(72, 45, 3, 0.363);
}



.btn-add {
    color: rgb(241, 224, 197);
    background-color: rgb(68, 43, 4);
    font-size: 1.04em;
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    outline: none;
    border: none;
    height: 2.1em;
    width: 6em;
    cursor: pointer;
    transition: background-color 1s, color 1s;

}

.btn-add:hover {
    background-color: rgb(48, 30, 2);
    color: rgb(255, 255, 255);

}

.fourth-div {
    margin-top: 3em;
}

.names-div {
    background-color: rgba(251, 246, 226, 0.832);
    margin-top: 0.5em;
    font-size: 1.2em;
    padding: 0.3em 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18em;
    border-radius: 0.5em;
    color: rgb(68, 43, 4);
    transition: background-color 1s, color 1s;
}

.names-div:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 25, 0);
}


input[type="number"] {

    border: none;
    outline: none;
    background: none;
    width: 2em;

    font-size: inherit;
    text-align: center;
    caret-color: transparent;
    cursor: pointer;
    color: rgb(68, 43, 4);

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media screen and (max-width: 450px) {
    .second-div {
        width: 25em;
    }
}

@media screen and (max-width: 352px) {
    .first-div {
        width: 12em;
    }

    .second-div {
        width: 20em;
    }

    .third-div {
        width: 18em;
    }

    .btn-add {
        width: 2.66em;
    }

    input[type="text"] {
        width: 13.7em;
    }

    .names-div {
        width: 14em;
    }
}

@media screen and (max-width: 319px) {
    h1 {
        font-size: 1.5em;
    }

    input[type="text"] {
        width: 11.3em;
    }

    .names-div {
        width: 12em;
    }

    .second-div {
        width: 16em;
    }

}

@media screen and (max-width: 322px) {
    .first-div {
        margin-left: 4.5em;
    }

    .second-div {
        width: 18em;
    }
}

@media screen and (max-width: 348px) {
    .second-div {
        width: 18em;
    }
}

@media screen and (max-width: 330px) {
    .first-div {
        width: 10em;
    }

    .second-div {
        width: 17em;
    }

    .third-div {
        width: 16em;
    }

    h1 {
        font-size: 1.6em;
    }

    .names-div {
        width: 12em;
    }

    input[type="text"] {
        width: 11.3em;
    }
}

@media screen and (max-width: 297px) {
    .first-div {
        width: 9.4em;
    }

    .second-div {
        width: 15em;
    }

    .third-div {
        width: 14em;
    }

    .names-div {
        width: 11em;
    }

    input[type="text"] {
        width: 10.1em;
    }
}